body {
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 0.5px, transparent 1px);
  background-size: 10px 10px;
  margin: 0;
  padding: 0;
}
